/*INITIALIZE AND RESET PROPERTIES*/
html, body {
    height: 100%;
    min-width: 300px;
    width: auto !important;  /* Firefox will set width as auto */
    overflow-x:hidden;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(240, 240, 240);
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    background-image: url("assets/food-vector1.png");
}

/*LAYOUT CONFIGURATION*/
div.menu-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

div.menu {
    background-color: #F13A4E;
    flex: 1;
    width: 130px;
    height: 100;
}

div.menu2 {
    background-color: #F13A4E;
    /*border-left: white 1px dotted;*/
    flex: 1;
    height: 100%;
    z-index: -1;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div.menu3 {
    background-color: #F13A4E;
    /*border-left: white 1px dotted;*/
    flex: 1;
    height: 100%;
    z-index: -2;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
   
    transition: all 0.3s ease-in-out;
}

div.icon-cart {
    z-index: 1;

    /*color: #AFAFAE;*/
    color: #F13A4E;
    width: 21px;
    position: absolute;
    right: 50px;
    top: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

div.icon-cart.change-color-icon-cart {
    color: rgb(240, 240, 240);
}

div.icon-cart p.round-value {
    border-radius: 100%;
    background: #F13A4E;
    color: #fff;
    text-align: center;
    transform: translate(8px,-40px);
    font-size: 12px;
    font-weight: 900;
    width: 19px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

p.round-value.change-color-round-value {
    color:  #F13A4E !important;
    background:rgb(240, 240, 240) !important;
}

div.icon-menu {
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFF;
    text-decoration-color: #FFF;
    font-size: 25px;
}

div.tab {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div.list {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

div.list-with-title {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

div.item {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.click-animation { animation: clickAnimation 200ms ease alternate; }
@keyframes clickAnimation {
    0%   { 
       transform: scale(1)
    }
    50%  { 
        transform: scale(0.98)
     }
    100% { 
        transform: scale(1)
    }
}

.hide-tab-left { 
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.hide-tab-right { 
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    visibility: hidden;
}

.show-menu { 
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

div.picture-item-circle {
    border-radius: 100%;
    transform: translate(-30px, 13%);
    width: 80px;
    height: 80px;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

div.picture-item-circle img {
    margin-top: 1px;
    max-width:100%;
    max-height:100%;
}

div.picture-item-square {
    border-radius: 30%;
    transform: translate(-30px, 13%);
    width: 80px;
    height: 80px;
    flex: 2;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

div.picture-item-square img {
    margin-top: 1px;
    max-width:100%;
    max-height:100%;
}

div.picture-item-triangle {
    border-radius: 30%;
    transform: translate(-30px, 13%) rotate(-45deg);
    width: 80px;
    height: 80px;
    flex: 2;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

div.picture-item-triangle img {
    margin-top: 1px;
    max-width:100%;
    max-height:100%;
}

div.body-item {
    flex: 6;
}

div.title-item {
    padding-top: 28px;
    font-weight: 901;
    color: #333B53;
    font-size: 25px;
}

div.title-item-product {
    padding-top: 28px;
    font-weight: 700;
    color: #333B53;
    font-size: 18px;
}

div.price-item-product {
    font-weight: 900;
    color: #F13A4E;
}

div.starts {
    padding-top: 8px;
    color: rgb(236, 162, 0);
}

div.item-product {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

div.more-shadow {
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}


div.description-item-product {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    max-height: 250px;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    color: rgb(119, 118, 118);
    
}

div.height-0-hidden {
    opacity: 0;
    max-height: 0px;
}

@media only screen and (max-width: 420px) {
    div.rank {
        display: flex;
        flex-direction: column;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
        align-items: center;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 420px) {
    div.rank {
        display: flex;
        flex-direction: row;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;
    }
}

div.rank i {
    flex: 1;
    color: #AFAFAE;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

div.subtitle-item {
    /*transform: translate(20%, -40px);*/
    color: #AFAFAE;
}

div.button-item {
    position: absolute;
    border-radius: 100%;
    transform: translate(50%, 70%);
    width: 40px;
    height: 40px;
    background-color: #FFF;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    color: #F13A4E;
    font-weight: 901;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

div.button-item i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.button-item-cart {
    position: absolute;
    border-radius: 30px;
    transform: translate(50%, 5px);
    width: 40px;
    height: 115px;
    background-color: #FFF;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    color: #F13A4E;
    font-weight: 901;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.button-item-cart i:nth-child(1) {
    color:#AFAFAE;
    margin-bottom: 5px;
}

div.button-item-cart i:nth-child(2) {
    margin-top: 5px;
}

div.title {
    /*transform: translate(20%, -50px);*/
    padding-top: 28px;
    margin-left: 50px;
    font-weight: 901;
    color: #FFF;
    font-size: 30px;
}

.container {
    display: flex;
}

.flex4 {
    flex: 4;
}

.flex3 {
    flex: 3;
}

.flex2 {
    position: relative;
    flex: 2;
}

.flex1 {
    flex: 1;
}

.hide {
    visibility: hidden;
}

/*HAMBURGUER*/
.reset-style {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    z-index: 1;
}

.hamburger {
    cursor: pointer;
}

.hamburger .line{
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger-3.is-active .line:nth-child(1){
    -webkit-transform: translate(-15px, 7px) rotate(-45deg) scaleX(0.4);
    -ms-transform: translate(-15px, 7px) rotate(-45deg) scaleX(0.4);
    -o-transform: translate(-15px, 7px) rotate(-45deg) scaleX(0.4);
    transform: translate(-15px, 7px) rotate(-45deg) scaleX(0.4);
}

#hamburger-3.is-active .line:nth-child(2){
    -webkit-transform: scaleX(1.1);
}

#hamburger-3.is-active .line:nth-child(3){
    -webkit-transform: translate(-15px, -7px) rotate(45deg) scaleX(0.4);
    -ms-transform: translate(-15px, -7px) rotate(45deg) scaleX(0.4);
    -o-transform: translate(-15px, -7px) rotate(45deg) scaleX(0.4);
    transform: translate(-15px, -7px) rotate(45deg) scaleX(0.4);
}

div.button-item.click-animation-new {
    background-image: linear-gradient(rgb(245, 107, 123), #F13A4E);
    color: #fff;
    transform: translate(50%, 70%) scale(0.9);
}

div.totals {
    position: fixed;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    background-color: #FFF;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

div.totals.opened {
    height: 40% !important;
}

.totals header {
    width: 100%;
}

.totals header p {
    flex: 11;
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 700;
    color: #333B53;
    font-size: 18px;
}

.totals header i {
    text-align: right;
    margin: 20px;
    padding-top: 5px;
    color: #F13A4E;
}

.totals div.container {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 100%);
    flex: 4;
    display: flex;
    flex-direction: column;
}

.totals div.container.opened {
    transform: translate(0, 0);
}

.totals div.container div.labelValue {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.totals div.container div.labelValue p:nth-child(1){
    flex: 1;
    font-weight: 600;
}

.totals div.container div.labelValue p:nth-child(2){
    text-align: right;
    flex: 1;
}

.totals div.container footer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.totals div.container footer div.miniButtons{
    flex: 2;
}

.totals div.container footer div.checkout{
    flex: 1;
}

.totals div.container footer div.miniButtons i {
    border-radius: 100%;
    border: #AFAFAE 1px solid;
    color: #AFAFAE;
    background: rgb(241, 241, 241);
    padding: 10px;
    margin-right: 20px;
}

.totals div.container footer div.checkout button{
    border-radius: 30px;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(rgb(245, 107, 123), #F13A4E);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 3px 8px 0 rgba(241, 58, 78, 0.5), 0 2px 20px 0 rgba(241, 58, 78, 0.1) !important;
}
    